<div class="row">
  <h1>Educacion</h1>

  <div class="col-lg-2">
    <button
      type="button"
      class="btn btn-dark"
      routerLink="/nuevaeduc"
      *ngIf="isLogged"
    >
      Agregar Educacion
    </button>
  </div>

  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <table class="table">
      <tbody>
        <tr *ngFor="let educ of educacion">
          <td>
            <h3>{{ educ.nombreE }}</h3>
          </td>
          <td>{{ educ.descripcionE }}</td>
          <td *ngIf="isLogged">
            <button
              class="btn btn-success"
              routerLink="/editeduc/{{ educ.id }}"
            >
              <i class="bi bi-pencil-square"></i>Editar
            </button>
          </td>

          <td *ngIf="isLogged">
            <button class="btn btn-danger" (click)="delete(educ.id)">
              <i class="bi bi-trash-fill"></i>Borrar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
