<div class="row">
    <h1>Proyectos: </h1>

    <div class="col-sm-12 col-md-5 col-lg-5 ">
        <div class="card " >
            <img src="../../../assets/blackjack.png" class="card-img-top" alt="imagen de un juego">
            <div class="card-body">
              <h5 class="card-title">Blackjack</h5>
              <p class="card-text">Juego de blackjack en el que se juega contra la maquina hecho en javascript</p>
              <a href="https://franfront.github.io/blackjack/" class="btn btn-primary">Ver</a>
            </div>
        </div>

    </div>
    <div class="col-md-1 col-lg-1">
    </div>
    <div class="col-sm-12 col-md-5 col-lg-5">
        <div class="card " >
            <img src="../../../assets/clima.png" class="card-img-top" alt="imagen de una pagina">
            <div class="card-body">
              <h5 class="card-title">Clima</h5>
              <p class="card-text">Pagina para buscar el clima por ciudad hecha con javascript</p>
              <a href="https://franfront.github.io/clima-js-vainilla/" class="btn btn-primary">Ver</a>
            </div>
        </div>

    </div>

    <div class="col-sm-12 col-md-5 col-lg-5 pt-4 ">
        <div class="card " >
            <img src="../../../assets/todo.png" class="card-img-top" alt="imagen de una pagina">
            <div class="card-body">
              <h5 class="card-title">Todo List</h5>
              <p class="card-text">Lista de tareas hecha en javascript</p>
              <a href="https://franfront.github.io/blackjack/" class="btn btn-primary">Ver</a>
            </div>
        </div>

    </div>
    <div class="col-md-1 col-lg-1">
    </div>
    <div class="col-sm-12 col-md-5 col-lg-5 pt-4">
        <div class="card " >
            <img src="../../../assets/gifs.png" class="card-img-top" alt="imagen de una pagina">
            <div class="card-body">
              <h5 class="card-title">Buscador de Gifs</h5>
              <p class="card-text">Pagina para buscar gifs hecha en angular</p>
              <a href="https://franfront.github.io/clima-js-vainilla/" class="btn btn-primary">Ver</a>
            </div>
        </div>

    </div>



</div>
