<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 text-center">
    <img src="../../../assets/index.png" class="img-fluid ns2" alt="Foto" />
    <p class="fw-bold fs-5" id="name">
      {{ persona.nombre }} {{ persona.apellido }}
    </p>
    <p>Full Stack Developer</p>
  </div>
  <div class="col-xs-12 col-sm-10 col-md-10 text-center">
    <span class="text-center">
      <h2>Acerca de mi:</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque,
        expedita odio possimus facilis aliquid rerum reprehenderit perferendis
        quas voluptatum quidem! Quam labore asperiores possimus assumenda est a
        sint eius quibusdam.
      </p>
    </span>
  </div>
</div>
