<div class="row">
    <h1>Skills: </h1>
    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="90"
            [radius]="90"
            [showUnits]="false"
            [showSubtitle]="false"
            [imageSrc]="'../assets/html.png'"
            [imageHeight]="80"
            [imageWidth]="80"
            [showImage]="true"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#C7E596'"
            [innerStrokeColor]="'#b0b8a3'"
            [subtitleColor]="'#000000'"
            [titleColor]="'#000000'"
            [unitsColor]="'#000000'"
            [titleFontSize]="'40'"
            [unitsFontSize]="'28'"
            [subtitleFontSize]="'28'"
            [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>

    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="80"
            [radius]="90"
            [showUnits]="false"
            [showSubtitle]="false"
            [imageSrc]="'../assets/CSS.png'"
            [imageHeight]="80"
            [imageWidth]="80"
            [showImage]="true"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#C7E596'"
            [innerStrokeColor]="'#b0b8a3'"
            [subtitleColor]="'#000000'"
            [titleColor]="'#000000'"
            [unitsColor]="'#000000'"
            [titleFontSize]="'40'"
            [unitsFontSize]="'28'"
            [subtitleFontSize]="'28'"
            [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>

    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="85"
            [radius]="90"
            [showUnits]="false"
            [showSubtitle]="false"
            [imageSrc]="'../assets/js.png'"
            [imageHeight]="80"
            [imageWidth]="80"
            [showImage]="true"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#C7E596'"
            [innerStrokeColor]="'#b0b8a3'"
            [subtitleColor]="'#000000'"
            [titleColor]="'#000000'"
            [unitsColor]="'#000000'"
            [titleFontSize]="'40'"
            [unitsFontSize]="'28'"
            [subtitleFontSize]="'28'"
            [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>

    <div class="text-center col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="90"
            [radius]="90"
            [showUnits]="false"
            [showSubtitle]="false"
            [imageSrc]="'../assets/git.png'"
            [imageHeight]="80"
            [imageWidth]="80"
            [showImage]="true"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#C7E596'"
            [innerStrokeColor]="'#b0b8a3'"
            [subtitleColor]="'#000000'"
            [titleColor]="'#000000'"
            [unitsColor]="'#000000'"
            [titleFontSize]="'40'"
            [unitsFontSize]="'28'"
            [subtitleFontSize]="'28'"
            [animation]="true"
            [animationDuration]="300">
        </circle-progress>
    </div>



</div>